/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

a{text-decoration:none;}




::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}



/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */



.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */


.title {
    color: #95B646;
}



/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.tocado{background-color:#95B646}
.salto{width:100%;clear:both;}


#ficha {padding:1em}

.fotoSidreria img{width:75%}

.tablaValoraciones{
	width:60%;
	border-width:1px;
	border-style:solid;
	border-color:#cccccc;
	border-collapse: collapse;
	
}

.tablaValoraciones th, .tablaValoraciones td{text-align:left;border-width:0px 0px 1px 0px;border-style:solid;border-color:#cccccc;padding:2px}
.tablaValoraciones td{width:25%}

.distanciaForm{clear:both}

/*
Mapa...
*/

.segmented-control { text-align:center; }
.segmented-control .ui-controlgroup { display:inline; margin:.2em 0px; }

#map-canvas { width:100%; height:100%; margin-top:-30px; padding:0px!important; }
#gmap-marker-link { color:#00a0df; text-decoration:none; }
.ui-gmap-canvas { width:100%; height:100%; }
.ui-gmap-infobox { display:none; }
.ui-li-has-count .ui-li-count { border-color:transparent; }
.wrap { white-space:normal; }


/* fin mapa */



/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

